button {
    height: 30px;
    width: auto;
    outline: none;
    margin: 16px 0 0 0;
    padding: 8px 16px;
    border: none;
    background-color: #06c;
    color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 0 2px white;
    cursor: pointer;
}

.popup-container {
    min-width: 200px;
    height: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.popup-text {
    
}