button {
    height: 30px;
    width: auto;
    outline: none;
    margin: 16px 0 0 0;
    padding: 8px 16px;
    border: none;
    background-color: #06c;
    color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 0 2px white;
    cursor: pointer;
}

.popup-container {
    min-width: 200px;
    height: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
}
h2 {
    margin-top: 0
}
p:not(:first-child) {
    margin-top: 0;
}

.more-text {
    margin-bottom: 0;
    padding-bottom: 8px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
    opacity: 0;
}
.more-text[show]{
    max-height: 120px;
    opacity: 1;
}
#seeMore, #seeMore:hover, #seeMore:visited, #seeMore:focus, #seeMore:active {
    color: #06c;
}